version: '3'

volumes:
  database:
    driver: local

services:
  my-project-database:
    volumes:
      - database:/var/lib/mysql

  my-project-phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ${COMPOSE_PROJECT_NAME}_phpmyadmin
    environment:
      - MYSQL_ROOT_PASSWORD=
      - PMA_HOST=my-project-database
      - DOMAIN_NAME=my-project-phpmyadmin.docker
      - VIRTUAL_PORT=80
      - VIRTUAL_HOST=my-project-phpmyadmin.docker
    networks:
      - reverse_proxy
